{%load static%}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{%block title%} {%endblock%}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="{%static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css
    ">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">

</head>
  <body>
    <nav class="navbar navbar-expand-lg ">
      <div class="container-fluid">
        <p class="navbar-brand2"> photo <span style="color:#8B0000;">gallery</span>  website</p>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{%url 'gallery' %}">Home</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                categories
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
               
                <li>  
                  {%for c in categories %}
                  <a class="dropdown-item" href="{%url 'categories' c.id %}">{{c.name}}</a>
                  {%endfor%}
                </li>
               
               
              </ul>
           
            <li class="nav-item">
              <a class="nav-link ">advertise</a>
            </li>
            <li class="nav-item">
              <a class="nav-link ">blog</a>
            </li>
          </ul>
         
       
        </div>
        {%if request.user.is_authenticated%}
        <div class="d-flex align-items-center">
          <p style="color: white; margin: 0;"> {{request.user.username}}</p>  
          <span class="ms-3" style="color: #fff;">/</span>
          <a class="ms-3 text-light" href="{%url 'logout' %}">logout</a>
        </div>
       
        {%else%}
        <div class="log-system">
          <a href="{%url 'login' %}" >login</a>
          <span >/</span>
          <a href="{%url 'register' %}"  class="ms4">register</a>
        </div>
        {%endif%}
      </div>
    </nav>

    {%block content%}
   
    {%endblock%}
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
    <script>
      $( function() {
        $( "#searched" ).autocomplete({
          source: '{%url "search_auto" %}'
        });
      } );
      </script>  
 
  </body>
</html>