{%extends 'base.html' %}
{% load crispy_forms_tags %}



{%block content%}
<div class="gallery-head">
<div class="container ">
    <a class="btn-back" href="{%url 'gallery' %}"> <i class="fa-solid fa-arrow-left-long ml-2"></i> go back</a>

    <div class="row justify-content-center mt-5">
        <div class="col-md-4">
            <div class="card p-4">

         
                <form action="" method="POST" enctype="multipart/form-data" novalidate>
                    {%csrf_token%}
                    {%include 'form.html' %}
                    <a class="btn-view d-block mt-3" href="{%url 'add_category' %}"> add category</a>
                    <div class="d-flex justify-content-center">
                        <button type="sumbit" class="btn-view mt-3">submit</button>
                        <a  href="{%url 'gallery' %}" class="add_photo-btn ms-3 mt-3">cancel</a>
                    </div>
                    
                </form>
            </div>
        </div>

        
    </div>
</div>
</div>

{%endblock%}