
{%extends 'base.html' %}

{%block title%}photo-{{photo.name}} {%endblock%}

{%block content%}
<div class="gallery-head">

    <div class="container">
        <a class="btn-back mb-4" href="{%url 'gallery' %}"> <i class="fa-solid fa-arrow-left-long ml-2"></i> go back</a>
       
        <div class="row justify-content-center mt-5">
            <nav mt-5 style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="{%url 'gallery' %}">Home</a></li>
                  <li class="breadcrumb-item"><a href="{% url 'categories' photo.category.id %}">{{photo.category.name}}</a></li>
                  <li class="breadcrumb-item active" aria-current="page">{{photo.slug}}</li>
                </ol>
              </nav>
            <div class="col-md-8">
                <div class="photo-details">
                  
                      
               
               <img src="{{photo.image.url}}" alt="" >
            </div>
            </div>
            <div class="col-md-4">
                <h3>{{photo.name}}</h3>
                <p class="text-muted">{{photo.desc}}</p>
            </div>

        </div>
    </div>
    
</div>
{%endblock%}